.card {
  display: flex;
  align-items: center;
  gap: var(--ds-space-inline-md);
}

.thumbnail {
  width: var(--ds-size-thumbnail-sm);
  height: var(--ds-size-thumbnail-sm);
  flex-shrink: 0;
}

.content {
  flex: 1;
  min-width: 0;
}

.title {
  line-height: var(--ds-font-line-height-tight);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator {
  width: var(--ds-size-separator);
  height: var(--ds-size-separator);
  border-radius: var(--ds-border-radius-full);
  background: var(--ds-color-text-subtle);
  flex-shrink: 0;
}

.inverted .separator {
  background: var(--ds-color-text-inverted-subtle);
}

.badge {
  display: flex;
  align-items: center;
  gap: var(--ds-space-inline-xs);
}

.badge svg {
  color: var(--ds-color-icon-subtle);
}

.inverted .badge svg {
  color: var(--ds-color-icon-inverted-default);
}
