.avatar {
  display: block;
  width: var(--_avatar-size, var(--ds-size-avatar-lg));
  height: var(--_avatar-size, var(--ds-size-avatar-lg));
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
