.badge {
  display: inline-flex;
  align-items: center;
  padding-block: var(--ds-space-inset-xxs);
  padding-inline: var(--ds-space-inset-xs);
  border: 1px solid var(--ds-color-border-default);
  border-radius: var(--ds-border-radius-sm);
  background-clip: padding-box;
  white-space: nowrap;
}

.filled {
  background: var(--ds-color-background-overlay-subtlest);
  border-color: var(--ds-color-border-strong);
}
