.breadcrumb {
  display: block;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ds-space-inline-xs);
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--ds-space-inline-xs);
}

.separator {
  color: var(--ds-color-text-subtle);
  flex-shrink: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover span {
  color: var(--ds-color-text-default);
}
