.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--ds-border-radius-sm);
  padding: var(--ds-space-inset-xs);
  color: var(--ds-color-text-subtle);
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-body-small);
  font-weight: var(--ds-font-weight-regular);
  line-height: var(--ds-font-line-height-tight);
  white-space: nowrap;
}

.outline {
  border: 1px solid var(--ds-color-border-default);
  background: transparent;
}

.filled {
  border: 1px solid var(--ds-color-border-default);
  background: var(--ds-color-background-neutral-subtlest);
}
