.text {
  color: var(--ds-color-text-default);
  margin: 0;
}

.subtle { color: var(--ds-color-text-subtle); }
.brand  { color: var(--ds-color-text-brand); }
.disabled { color: var(--ds-color-text-disabled); }

.body-default {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-body-default);
  font-weight: var(--ds-font-weight-regular);
  line-height: var(--ds-font-line-height-body-default);
}

.body-small {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-body-small);
  font-weight: var(--ds-font-weight-regular);
  line-height: var(--ds-font-line-height-body-default);
}

.metadata {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-metadata);
  font-weight: var(--ds-font-weight-regular);
  line-height: var(--ds-font-line-height-none);
}

.label {
  font-family: var(--ds-font-family-body);
  font-size: var(--ds-font-size-label);
  font-weight: var(--ds-font-weight-medium);
  line-height: var(--ds-font-line-height-body-single);
}
